.rootContent {
    p {
        margin: 0;
    }
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        .leftPanel {
            max-width: 100%;
        }
        .rightPanel {
            max-width: 100%;
        }
      }
}

.rootOverview {
    padding-top: 24px;
    .titleDetail {
        font-weight: 700;
    }
    .boxTitle {
        display: flex;
        padding-bottom: 14px;
        svg {
            margin-right: 8px;
            color: var(--primary-light-color-1);
        }
        p{
            font-weight: 700;
        }
    }
    .boxDuration {
        font-weight: 500;
    }
}
.title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.subTitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-60);
    margin-bottom: 8px !important;
}

.boxImgHotel {
    padding-right: 14px;
    img {
        object-fit: fill;
        height: 128px;
        border-radius: 10px;
    }
}

.boxProductName {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray-20);
    svg {
        color: var(--primary-color);
        margin-right: 8px;
    }
    p{
        line-height: 0;
    }
}
.boxInforTime {
    .textTitle {
        color: var(--gray-60);
        font-weight: 600;
        padding-bottom: 8px;
    }
    .textDate {
        color: var(--text-color);
        font-weight: 700;
        font-size: 16px;
        padding-bottom: 8px;
    }
    .textTime {
        color: var(--text-color);
        font-weight: 500;
        padding-bottom: 8px;
    }
}

.boxNameRoom {
    p {
       font-size: 16px;
       font-weight: 600;
       color: var(--text-color);    
    }
}

.boxInfoPerson {
    display: flex;
    padding-bottom: 8px;
    p {
        color: var(--gray-60);
        font-weight: 600;
    }
    span {
        color: var(--text-color);
        font-weight: 600;
    }
}

.boxImgRoom {
    img {
        height: 92px;
        border-radius: 10px;
    }
}

.boxService {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    color: var(--success-color);
    p {
        font-size: 14px;
        font-weight: 600;
    }
    svg {
        margin-right: 8px;
    }
}

.boxSubTitle {
    display: flex;
    align-items: flex-end;
    svg {
        color: var(--primary-light-color);
        margin-right: 8px;
    }
    p {
        font-weight: 700;
        color: var(--text-color);
    }
}

.boxContentPolicy {
    padding-top: 14px;
    font-weight: 500;
}

.boxSubTitlePolicy {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid  var(--gray-20);
    padding: 16px 0;
    svg {
        color: var(--primary-light-color);
        margin-right: 8px;
    }
    p {
        font-weight: 600;
        color: var(--text-color);
    }
    .textCheck {
        color: var(--gray-60);
    }
    .textContentPolicy {
        text-align: justify;
        line-height: 1.5;
        font-weight: 500 !important;
        ul {
            padding: 0;
        }
    }
}

.boxSeeMore {
    padding: 14px 0;
    text-align: center;
    cursor: pointer;
    p {
        color: var(--primary-light-color);
        font-weight: 600;
        font-size: 16px;
    }
}
.boxPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .priceTotal {
        display: flex;
        align-items: center;
        svg {
            color: var(--primary-light-color-1);
        }
    }
    p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }
    h4 {
        margin: 0;
        font-weight: 600;
        color: var(--orange-color);
    }
}
.boxPriceDetail {
    padding-top: 14px;
    p {
        font-size: 14px;
        font-weight:600; 
        margin: 0;
    }
}


.boxContactDetail {
    background-color: var(--white-color);
    border-radius: 10px;
    margin-bottom: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.boxInfoPerson {
    display: flex;
    align-items: center;
    svg {
        color: var(--gray-40);
        margin-right: 8px;
    }
    p {
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    }

}

.boxInfoGuest {
    .guestTitle {
        color: var(--gray-60);
        font-size: 14px;
    }
    p {
        color: var(--text-color);
        font-weight: 600;
        font-size: 16px;
        }
}

.boxAdvice {
    p {
        color: var(--gray-60);
        font-size: 12px; 
    }
}