.root {
    &:hover {
      background-color: rgba(166, 204, 23, 0.04);
    }
  }
  
  .cleanPadding {
    padding: 0;
  }
  
  .icon {
    font-size: 20px;
    color: var(--gray-40);
    &[class~="MuiSvgIcon-colorDisabled"] {
      color: var(--gray-20);
    }
    &:hover {
      color: var(--primary-color);
    }
    path {
      transform: scale(1.34);
      transform-origin: center;
    }
  }
  
  .checkIcon {
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 4px;
    font-size: 20px;
    &[class~="MuiSvgIcon-colorDisabled"] {
      background: var(--eerie-black-40);
    }
  }
  
.content {
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;

}  