
.root svg{
    margin: 0 2px;
    
}
.root svg:nth-child(1) {
    color: #ffeb8d;
}
.root svg:nth-child(2) {
    color: #fed46b;
}
.root svg:nth-child(3) {
    color: #fbb53d;
}
.root svg:nth-child(4) {
    color: #fa9e1b;
}
.root svg:nth-child(5) {
    color: #f38f04;
}