.root {
    &[class~=modal-dialog] {
        margin: 5.75rem auto;
    }
    p {
        margin: 0;
    }
    max-width: 925px;
}
.modalBody {
    height: 70vh;
    overflow-y: auto;
    padding-top: 0 !important;
}
.title {
    padding-bottom: 24px !important;
    h5 {
        font-weight: 700!important;
        color: var(--text-color);
    }
}

.navbar {
    background-color: var(--white-color); 
    position: fixed;
    top: 0px; 
    width: 100%; 
    z-index: 1000;
    transition: top 0.3s; 
    box-shadow: var(--bui-shadow-100);
  }
  
  /* Style the navbar links */
  .navItem a{
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 12px 12px 8px 12px;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s ease;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
  }
  .navItem a:first-child{
    padding-left: 0; 
  }
.containerNav {
    padding: 0;
    border-bottom: 1px solid var(--gray-20);
    border-top: 1px solid var(--gray-20);
    .rootTabs {
        display: flex;
        justify-content: space-between;
        [class~="MuiTabs-flexContainer"] {
            justify-content: space-between;
        }
        [class~="MuiTabs-indicator"] {
            display: none;
        }
    }
}

.listNav {
    display: flex;

}
.itemPolicy {
    span {
        font-weight: 700;

    }
}
.rootOverview {
    padding-bottom: 24px;
    .titleDetail {
        font-weight: 700;
    }
    .boxTitle {
        display: flex;
        svg {
            margin-right: 8px;
            color: var(--primary-light-color-1);
        }
        p{
            font-weight: 700;
        }
    }
    .boxDuration {
        font-weight: 500;
    }
}
