.container {
    width: 100%;
}
.title {
    color: rgba(28, 28, 28, 0.9);
    font-size: 14px;
    font-weight: 700 !important;
    line-height: 140%;
    letter-spacing: 0.015em;
    padding-bottom: 5px;
    margin: 0 !important;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.textError {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.015em;
    color: #af1c10;
    padding-top: 5px;
    padding-left: 16px;
    white-space: initial;
}
