.root {
    display: block !important;
    padding-top: 32px;
    width: 100%;
    height: 100%;
    [class~=table-responsive] {
        max-height: 650px !important;
        min-height: 400px;
        padding-right: 60px;
        @media only screen and (max-width: 768px) {
            padding-right: 0;
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 48px 24px 24px 32px; 
    }
}

.title {
    h3 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }
    @media only screen and (max-width: 768px) {
        h3 {
            margin-bottom: 8px;
        } 
    }
}
.rowHeaderBox {
    margin: 0;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: inherit !important;
        .boxInputSearch {
            width: 100%;
        }
        button {
            width: 100%;
            margin-bottom: 24px;
        }
    }
} 
.boxControl {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    button {
        margin-left: auto;
        svg {
            margin-right: 8px;
        }
    }
}

.tableCell {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
    text-align: center !important;

}
.linkTour {
    a {
        color: var(--text-color);
    }
    
}
.tourName {
    color: var(--primary-color) !important;
    text-decoration: unset;
    line-height: 24px !important;
}

.menuItem {
    padding: 8px 14px;
    display: flex;
    align-items: center;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
}

.pagination {
    p {
        font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
        margin: 0;
    }
}
.boxTitleDetail {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-light-color);
}
.linkView{
    width: 100%;
    a:hover {text-decoration: none !important;}
}
.linkDetail:hover {
    text-decoration: underline;
    cursor: pointer;
}
.boxImg {
    max-width: 185px;
    background-color: var(--white-color);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    img {
        width: 100%;
        height: 100% !important;

        object-fit: cover;
        object-position: center center;
        border-radius: 10px;
    }
}
.boxImgNew {
    cursor: pointer;

    max-width: 185px;
    background-color: var(--white-color);
    border-radius: 10px;

    img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        object-position: center center;
        border-top-left-radius: 10px;
        
    }
}
.boxLocation {
    display: flex;
    svg {
        margin-right: 8px;
        color: #5E5B5B;
    }
    div {
        p {
            margin: 0;
            color: #5E5B5B;
            font-weight: 500;
            font-size: 16px;
            text-overflow: ellipsis !important;
            max-width: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis !important;
            white-space: nowrap;
            word-wrap: break-word;
        }
        overflow-x: hidden;
        overflow-y: hidden;
        span {
            font-weight: 700;
        }
    }
}

.boxTitle {
    padding-bottom: 8px;
    p {
        font-size: 18px;
        color: var(--text-color);
        font-weight: 600;
        margin: 0;
    }
}

.boxDate {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
    p {
        margin: 0;
        color: var(--text-color);
        font-weight: 500;
        font-size: 16px;
        text-overflow: ellipsis !important;
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        word-wrap: break-word;
    }
    overflow-x: hidden;
    overflow-y: hidden;
    span {
        font-weight: 700;
    }
}
.boxReview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-light-color);
    font-weight: 700;
    svg {
        margin-right: 4px;
    }
    .numberOfReviews {
        color: var(--text-color);
    }
}
.boxRate {
    display: flex;
    padding-top: 8px;
    align-items: center;
    .badge {
        padding: 8px 10px;
        background-color: var(--primary-light-color);
        border-radius: 8px;
        color: var(--white-color);
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 10px ;
    }
}

.boxPrice {
    display: flex;
    flex-direction: column;
    span {
        font-weight: 700;
        font-size: 16px;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        word-wrap: break-word;
        color: var(--orange-color);
    } 
    p {
        font-weight: 700;
        font-size: 16px;
        color: var(--text-color);
        margin: 0;
        margin-left: 8px;
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        word-wrap: break-word;
    }
    span {
        

    }
}
.wrapperPrice {
    max-width: 100% !important  ;
}
.boxViewMore {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    flex: 1;
    p {
        margin: 0;
        font-weight: 600;
        font-size: 14px;    
        color: var(--orange-color);
    }
    svg {
        color: var(--orange-color);
        margin-left: 4px;
    }
}

.containerPrice {
    padding: 14px;
    display: flex;
    flex-direction: column !important;
    background-color: var(--white-color);
    border-left: 1px solid var(--gray-20);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.boxSave {
    display: flex;
    align-items: flex-start;
    padding-bottom: 14px;
    max-width: 100% !important;
    color: var(--success-color); 
    p {
       
        font-weight: 600;
        margin: 0;
    }
}
.textStatus {
    font-size: 16px !important;
    font-weight: 600;
}

.boxMenu {
    display: flex;
    justify-content: flex-end;
   button {
    padding: 0;
   }
}

.boxOldBill {
    padding: 0 14px 14px;
    display: flex;
    background-color: var(--white-color);
    border-left: 1px solid var(--gray-20);
    border-bottom-right-radius: 10px;
    .boxSave {
        display: flex;
        align-items: flex-start;
        padding-bottom: 14px;
        max-width: 100% !important;
        color: var(--success-color); 
        p {
           
            font-weight: 600;
            margin: 0;
            margin-left: 8px;
        }
    }
}

.boxImgTerms {
    display: flex;
}

.boxTerms {
    margin-left: 10px;
    color: var(--primary-light-color-1);
    font-weight: 600;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}