.root {
  display: block !important;
  padding: 65px 0px 0 0px;
  width: 100%;
  height: 100%;
  [class~="table-responsive"] {
    max-height: 650px !important;
    min-height: 400px;
    padding-right: 60px;
    @media only screen and (max-width: 768px) {
      padding-right: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 48px 24px 24px 32px;
  }
}

.form {
  margin-bottom: 30px;
  padding: 0 75px 0 15px;
}

.title {
  h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
  }
  @media only screen and (max-width: 768px) {
    h3 {
      margin-bottom: 8px;
    }
  }
}

.rowHeaderBox {
  margin: 0;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: inherit !important;
    .boxInputSearch {
      width: 100%;
    }
    button {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}

.formWrapper {
  display: flex;
  align-self: center;
}

.formInputWrapper {
  flex: 1;
  display: flex;
  align-self: center;
  gap: 30px;
}

.inputTitle {
  margin: 0;
  font-size: 14px;
  color: #2c2c2c;
  font-weight: 400;
}

.inputSearchDate {
  margin-bottom: 0;
}

.table {
  th {
    font-size: 14px !important;
    font-weight: 700 !important;
  }
  thead {
    background-color: var(--primary-color);
    color: #ffff;
  }
}

.btnPrimary {
  background: var(--primary-color) !important;
  color: #ffffff;
}
