.root {
    
    @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
}
.rootContent {
    background-color: #f3f3f3;
    padding-bottom: 48px;
}
.boxLeft {
    @media only screen and (max-width: 768px) {
        max-width: 100%;
      }
}
.boxRight {
    @media only screen and (max-width: 768px) {
        max-width: 100%;
      }
}
.sectionHeader {
    min-height: 35vh;
}

.rootStepper {
    padding: 30px 0px 48px 0px;
    width: 624px;
    margin: auto;
    min-width: 624px;
    @media only screen and (max-width: 767px) {
      min-width: 340px;
      width: auto;
      padding: 30px 0px 30px 0px;
    }
  }
  .rootStepLabel {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color) !important;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
    &[class~="MuiStepLabel-label"] {
        margin-top: 8px !important;
    }
    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
  .rootStepLabelCompleted {
    color: var(--text-color) !important;
    font-weight: 600 !important;
    font-size: 16px;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .rootStepLabelActive {
    color: var(--text-color) !important;
    font-weight: 600 !important;
    font-size: 16px;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .rootConnector {
    top: 16px !important;
    margin: 0px 7px !important;
  }
  .activeConnector {
    span {
      border-color: var(--cimigo-green-dark);
    }
  }