.containerBody {
    background-color: var(--background-container-color);
    padding-bottom: 32px;
    position: relative;
}
.imgHeader {
    min-height: 55vh;
}

.titleBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    > div {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
    h1 {
        font-size: 32px;
    }
    .divider {
        width: 80%;
        height: 3px;
        background-color: #cccc;
    }
    p {
        padding: 32px;
    }
}
.containerSearch {
    margin: 0;
    position: sticky;
    min-width: 0;
    min-height: 0;
    top: 60px;
    z-index: 10;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 500px) {
        padding: 0 14px;
      }
    @media only screen and (max-width: 768px) {
        top: 50px;
        margin-bottom: 0px;
    }
}
.boxControlSearch {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    align-items: center;
    border-radius: 8px;
    @media only screen and (max-width: 500px) {
        display: block;
        padding: 12px;
        width: 100%;
      }
    .boxTitleSearch {
        p {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            span {
                color: var(--orange-color);
            }
            @media only screen and (max-width: 500px) {
                display: none;
              }
        }
    }
    .inputSearch {
        margin-bottom: 0 !important;
        @media only screen and (max-width: 500px) {
            width: 100%;
          }
    }
}
.searchControlWrapper {
    display: flex;
    @media only screen and (max-width: 500px) {
        flex-direction: column;
      }
    .inputSearchDate {
        margin-left: 14px;
        @media only screen and (max-width: 500px) {
            margin-left: 0;
            margin-top: 14px !important;
          }
    }
}
.boxResult {
    display: flex;
    background-color: var(--background-container-color);
    padding: 12px 24px;
    .boxControlLayout {
        display: flex;
        padding: 0;
        @media only screen and (max-width: 768px) {
            display: none;
          }
    }
    @media only screen and (max-width: 768px) {
        flex-direction: column; 
        padding: 12px 24px;
      }
}
.layoutBtn {
    font-weight: 700;
    svg {
        color: #ffff;
        font-size: 14px;
    }
}

.rowResult {
    display: flex;
    justify-content: end;
    align-items: center;

    h5 {
        font-weight: 700;
        font-size: 14px;

        color: var(--primary-color);
        margin:0;
        span {
            margin-left: 8px;
            color: var(--orange-color);
        }
        @media only screen and (max-width: 768px) {
            font-size: 14px;
          }
    }
    .controlSelect {
        display: flex;
        align-items: center;
        margin-right: 12px;
        .inputSelect {
            margin-left: 8px;
            font-size: 16px;
        }
        @media only screen and (max-width: 768px) {
            max-width: 100%;
            padding: 14px 0;
            display: none;
          }
    }
    @media only screen and (max-width: 768px) {
        max-width: 100%;
        padding: 12px 0 12px 0;
        flex-direction: column;
        align-items: flex-start;
      }
}


.dropDownResult {
    margin-right: 8px;
    .viewResult {
        background-color: #ffff !important;
        border: 1px solid var(--primary-color);
        color: var(--primary-color) !important;
        margin: 0;
        border-radius: 15px;
        padding: 5px 15px;
        span {
            margin-right: 4px;
            font-size: 1.3em;
            font-weight:700;
        }
    }
}
.rowResultBody {
    padding: 14px 9px 14px 24px;
    border-radius: 8px;
    margin: 0;
    margin-top: 20px;
    padding-bottom: 32px;
    .btnResetWrapper {
        margin-top: 16px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    @media only screen and (max-width: 768px) {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-top: 0;
        
      }
    .btnResetWrapper {
        @media only screen and (max-width: 768px) {
            max-width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            button {
                width: 100%;
            }
          }
    }
}

.list {
    margin-top: 16px;   
    @media only screen and (max-width: 768px) {
        max-width: 100%;
      }

}

.controlSelect {
    display: flex;
    align-items: center;
    padding-right: 12px !important;

    @media only screen and (max-width: 768px) {
        max-width: 100%;
        padding: 14px 0;
      }
}
.inputSelect {
    font-size: 16px;
    width: 100% !important;
}
.containerListHotel {
    min-height: 1248px;
}
.rowGridView {
    // display: none;
    @media only screen and (max-width: 768px) {
        display: block;
      }
}
.resultDesktop {
    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
}

.btnLayoutWrapper {
    padding:0 32px 16px 32px;
    button:first-child {
        margin-bottom: 16px !important;
    }
}

.colBtnLayout {
    padding: 0;
    @media only screen and (max-width: 768px) {
        max-width: 100%;
        padding: 0 32px !important;
      }
}

.btnResetOption {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 15px 24px !important;
    svg {
        font-size: 16px;
        margin-right: 4px;
    }
}

.btnSearch {
    width: 100%;
}
.pigination {
    display: flex;
    justify-content: end;
    margin-top: 32px;
    @media only screen and (max-width: 768px) {
        justify-content: center;
      }
}