
.iconOption {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    object-fit: contain;
}
.iconValue {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    object-fit: contain;
}

.title {
    color: rgba(28, 28, 28, 0.9);
    font-size: 14px;
    font-weight: 700 !important;
    line-height: 140%;
    letter-spacing: 0.015em;
    padding-bottom: 5px;
    margin: 0 !important;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
