.about-container {
    position: relative;

}
.about {
    background-image: url('/src/images/images-1.jpg'); 
    color: #fff;
    font-size: 40px;
    position:absolute;
    height:450px;
    width: 100%;
    top:-106px;
    display: flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    font-weight: 900;
  }
  