.detail-container {
    position: relative;
}
.detail-slide-header {
    background-image: url('/src/images/images-4.jpg'); 
    color: #fff;
    font-size: 40px;
    position:absolute;
    height:400px;
    width: 100%;
    top:-466px;
    display: flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    font-weight: 900;
    background-size: cover;
}
.detail-promotion {
    position: absolute;
    width: 100%;
    height:50px;
    background-color: var(--violet-color);
    top:-77px;
    display: flex;
    justify-content:center;
    align-items:center;
    z-index: 2;
}
.detail-promotion h3{
    color:#fff;
    font-size:14px;
    font-weight: 400;
}
.detail-slide-header-title {
    position:absolute;
    top:-250px;
    left:588px;
    z-index: 3;
    color:#fff;
    font-size: 30px;
}
.detail-slide-header h1 {
    text-transform: uppercase;
}
.detail-over-view-heading {
    margin-top:400px;
}
.over-view-heading-img {
    display:flex;
    justify-content:center;
}
.over-view-heading-header {
    display: flex;
    justify-content:center;
    margin-top:20px;
    margin-bottom:50px;
  
}
.over-view-heading-header h1{
    text-transform: uppercase;
    color: #333;
    font-size:30px;
    position: relative;
}
.over-view-heading-line {
    position: absolute;
    border-bottom: 3px solid #ccc;
    width: 100%;
    top: 28px;
}
.over-view-heading-title {
    display: flex;
    justify-content:center;
}
.over-view-heading-title h3{
    font-size:15px;
    font-weight: 400;
    text-align: center;
    width: 500px;
    line-height: 2;
}
/* Slider */
.slides::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 440px;
    background-color: var(--violet-color);
    opacity: 0.3;
    z-index: 1;
    top: -39px;
}
.slider{
    width:100%;
    height:480px;   
    overflow: hidden;
}
.slides {
    width: 500%;
    height:480px;
    display:flex;
}
.slides input {
    display:none;
}

.slide {
    width:20%;  
    transition:2s;
}
.slide img {
    width:100%;
    height:480px;
}
.navigation-manual {
     position:absolute;
     width:800px;
     margin-top: -92px;
     margin-left:353px;
     display:flex;
     justify-content:center;
     z-index: 2;
}
.manual-btn{
    padding: 5px;
    width:12px;
    height:12px;
    cursor: pointer;
    transition:1s;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover {
    background-color:var(--primary-color);
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    top: 348px;
    left: 353px;
    z-index: 2;
}
.navigation-auto div {
    padding: 5px;
    width:12px;
    height:12px;
    cursor: pointer;
    transition:1s;
    border:3px solid var(--primary-color);
    border-radius: 10px;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: var(--primary-color);
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: var(--primary-color);
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: var(--primary-color);
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: var(--primary-color);
}
.slide-icon {
    border: 1px solid #fff;
    background-color:transparent;
    padding: 10px;
    border-radius:5px;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-icon-left{
    position:absolute;
    top:200px;
    z-index: 10;
    left:100px;
    width:50px;
    height:50px;
    opacity: 0.4;
}

.slide-icon:hover{
    opacity: 1;
    cursor: pointer;
}
.slide-icon-right {
    position:absolute;
    top:200px;
    z-index: 10;
    right:100px;
    width:50px;
    height:50px;
    opacity: 0.4;
}
/* Body detail */
.detail-body {
    width: 1200px;
    margin: 50px 150px;
    max-width: 100%;
}

.heading-body-place h3{
    font-size:18px;
    color: var(--text-color);
    font-weight:400;
}
.heading-body-days {
    margin-top:20px;
    margin-bottom:20px;
}
.heading-body-days h1{
    font-size:30px;
}
.heading-rates {
    display:flex;
}
.rates-rating-stars i {
    color:var(--primary-color);
}
.rates-rating-stars i:not(:last-child) {
    margin-right: 10px;
}
.rates-view {
    margin-left: 20px;
}
.rates-view p {
    font-size:12px;
    color: var(--text-color);
}
.heading-prices {
    display:flex;
    justify-content: flex-end;
    font-size: 15px;
    font-weight:300;
    margin-top:40px;
}
.heading-prices h1:first-child{
    font-size:15px;
    color:#000;
    font-weight:300;
    margin-top:3px;
    margin-right: 10px;
}
.heading-prices h1:last-child{
    font-size:15px;
    color:#000;
    font-weight:300;
    margin-top:3px;
    margin-left: 10px;
}
.heading-prices h1 {
    color:var(--primary-color);
}
/* BODY IMAGES */
.images-detail-tour {
    width:100%;
    height:400px;
}
.detail-tour-img-1 {
    width:100%;
    height:100%;
}

.detail-tour-img-1 img {
    width:100%;
    height:100%;
    border-radius: 8px;
}
.detail-tour-img-small {
    width:100%;
    height:200px;
    display: flex;
    margin-top: 6px;
}
.detail-tour-img-2 {
    width:calc(100% / 2);
    height:200px;
    margin-right: 6px;
}
.detail-tour-img-2 img {
    width:100%;
    height:200px;
    border-radius:8px;
}
.detail-tour-img-3 {
    width:calc(100% / 2);
    height:200px;
}
.detail-tour-img-3 img {
    width:100%;
    height:200px;
    border-radius:8px;
}
.detail-tour-information {
    width:100%;
    background-color: var(--violet-color);
    border-radius: 8px;
}
.body-information {
    padding: 28px 34px 31px 34px;
}
.tour-info-heading{
    color:#fff;
    text-transform:uppercase;
}
.list-info-body {
    margin-top:5px;
    list-style:none;
}
.item-info-body {
    margin-top:20px;
    display:flex;
    
}
.item-info-body p{
    color: #bde9ff;
    font-size:13px;
    font-weight:500;
}
.item-info-body span {
    color: #fff;
    font-size:13px;
    font-weight:300;
    margin-left:5px;
}
.item-info-body span i {
    color:var(--primary-color);

}
.item-info-body span i:not(:last-child){
    margin-right: 5px;
}
.book-btn{
    margin-top:20px;
}
.book-now {
    border:1px solid #fff;
    background-color:#fff;
    color:var(--primary-color);
    font-size:14px;
    font-weight:500;
}

.book-now:hover {
    border:2px solid ;
    background-color:var(--primary-color);
    color: #fff;
    transition:all 0.5s ease;
}
.block-information {
    margin-top:250px;
}
.block-information h3 {
    margin: 30px 0;
    font-size:25px;
}
.block-information h4{
    margin:20px 0;
    font-size:15px;
}   
.block-information p {
    font-size:15px;
    color:var(--text-color);
    line-height:1.5;
}
.body-offers{
    background-color:#f5f5f5;
    padding: 28px 34px 31px 34px;
    margin-top:12px;
    border-radius: 8px;
}
.body-offers-heading {
    margin-bottom:20px;
}
.item-offer-container {
    display: flex;
    margin-bottom:20px;
}
.item-offer-img {
    width:150px;
    height:120px;
    margin-right: 10px;
    background: radial-gradient(rgb(43, 43, 43) 50%, #000 100%);
    overflow: hidden;
}
.item-offer-img img:hover {
    transform: scale(1.3) translateY(-5px);
    opacity:0.3;
}
.item-offer-img img{
    width:100%;
    height:100%;
    transform: scale(1.5);
    transition: all 0.3s ease-out;
}
.list-info-offer {
    list-style: none;
}
.list-info-offer li {
    margin-bottom:10px;
    display:flex;
}
.list-info-offer li h3 {
    font-size:14px;
    font-weight: 400;
}
.list-info-offer li span {
    font-size: 14px;
    font-weight:500;
    color: var(--primary-color);
    margin-left: 5px;
}
.table-information {
    width: 100%;
    max-width: 100%;

}
.table-information thead {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: #350a4e;
    
}
.table-information thead tr {
    display: table-row;
   
}
.table-information thead tr th{
    padding: 15px 25px;
    border-left: 1px solid #f2f2f2;
}
tbody{
    display: table-row-group;
    
}
tbody tr td{
    padding: 15px 25px;
    font-size:15px;
    text-transform: uppercase;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2; 
    border-top: 0px;
}
.border-color-2 {
    border-left: 1px solid #f2f2f2; 
}
.name-tour {
    text-align:center;
}
.name-tour  span i {
    color:#ff6600;
    
}
.name-tour i {
    color:var(--primary-color);
    margin-left: 10px;
}
.block-table-information {
    margin-top:30px;
}
.block-help {
    margin-top:60px;
    padding: 28px 34px 31px 34px;
    background-color: #f5f5f5;
    border-radius: 8px;
}
.help-heading h1 {
    text-transform: uppercase;
    margin-bottom:20px;
}
.help-body p {
    font-size:13px;
    line-height:2;
    color: #b9b9b9;
}
.help-contacts-block{
    margin-top:20px;
}
.help-contact:first-child {
    margin-bottom: 20px;
    
}
.help-contact i {
    font-size:40px;
    color:var(--violet-color);
    margin-right: 10px;
}
.help-contact a {
    font-size:15px;
    text-decoration: none;
    color:#000;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.help-mail {
    display: flex;
}
.help-mail a {
    margin-top:23px;
}
.help-contact>div>i {
    margin-top:3px;
}