.list-offer-container {
    position: relative;

}
.list-offer {
    background-image: url('/src/images/images-2.jpg'); 
    color: #fff;
    font-size: 40px;
    position:absolute;
    height:475px;
    width: 100%;
    top:-475px;
    display: flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    font-weight: 900;
    background-size: cover;
  }
.search {
    margin-top:369px;
}
.search-content {
    width: 100%;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
}
.search-item {
    list-style: none;
    margin: 0 7px;
}
.search-item-label {
    display: flex;
    margin-bottom: 20px;
}
.search-item-label i {
    font-size:20px;
    color: #fff;
}
.search-item-label h3{
    font-size:15px;
    color: #fff;
    text-transform:uppercase;
    margin-left: 10px;
    margin-top: 6px;
}
.search-input {
    height: 48px;
    border: none;
    padding: 0 16px;
    font-style: italic;
    border-radius: 5px;
    width: 339px;
}
.input-check{
    height: 48px;
    border: none;
    padding: 0 16px;
    font-style: italic;
    border-radius: 5px;
    width:155px;
}
.input-person{
    margin: 0 7px 0 7px;
    height: 48px;
    border: none;
    padding: 0 16px;
    font-style: italic;
    border-radius: 5px;
    width: 112px;
}
.search-btn {
    margin-top:40px;
}
.section-offer-heading, .section-offer-icon, .section-offer-title {
    display:flex;
    justify-content:center;
    align-items:center;

}
.section-offer-icon {
    margin-top:30px;
    margin-bottom:30px;
}
.section-offer-heading h1 {
    font-size:30px;
    color: #444;
    font-weight:400;
    position: relative;
}
.section-offer-heading h1::before{
    bottom: 0;
    height: 1px;
    width: 80%;
    margin: -20px 10%;
    content: "";
    position: absolute;
    border-bottom: 3px solid #ccc;
}
.section-offer-title {
    margin-top:50px;
}
.section-offer-title p {
    text-align: center;
    font-size:18px;
    font-weight:400;
    color:var(--text-color);
    max-width: 1000px;
    line-height:2;
}
.filter {
    width:1200px;
    margin-left:210px;
    margin-right:150px;
    margin-top: 50px;
    max-width: 100%;
}

.btns-layout-container {
    display:flex;
}
.btn-layout {
    display:flex;
    padding: 20px 35px;
    justify-content:center;
    align-items:center;
    height:20px;
    margin-right: 20px;
    background-color:#ccc;
    border: 1px solid #999;
    border-radius:5px;  
    font-size:15px;
    text-transform:uppercase;
    color: #fff;
    width:101%;
}
.btn-layout.active {
    background-color:var(--violet-color);
    color:#fff!important;
}
.btn-layout i {
    font-size:15px;
    color: #fff;
    margin-right: 10px;
}

.filter-box-center{
    display:flex;

}
.group-result {
    margin-right: 20px;
    margin-left:50px;
    margin-top: 15px;
}
.group-result span,
.group-view span {
    font-size:18px;
    color: #444;
    text-transform:uppercase;
    font-weight:600;    
}   
.group-result span:nth-child(2){
    color:var(--primary-color);
    margin-left:15px;
}
.group-view {
    display: flex;
    padding: 0 32px;
}
.group-view>span {
    margin-top:15px;
}
.dropdown-toggle {
    margin-left:15px;
    
    display: flex;
    justify-content:center;
    align-items:center;

    margin-bottom: 15px;
    margin-right: 15px;
}
.dropdown-toggle span{
    padding: 5px 9px 5px 12px;
    border: 1px solid #444;
    border-radius:10px;
}
.btn-sort-by {
    margin-left: 80px;
    background-color:var(--violet-color);
    width:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #fff;
    text-transform:uppercase;
    font-size:18px;
    border-radius: 8px;
    margin-bottom: 23px;
    padding: 10px;
}
.left-search-box {
    width:100%;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.layout-grid-view {
    display: flex;
    margin-left:24px;
}
.search-box-title {
    background-color: var(--violet-color);
    width: 101%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.search-box-title h1{
    font-size:15px;
    color:#fff;
    font-weight:300;
    padding:10px 15px;

}
.search-box-input{
    width: 100%;
    padding:10px 15px;
    position: relative;
}
.search-box-input input {
    width: 100%;
    padding:3px;
    border:1px solid #ccc;
}
.search-box-input .search-icon {
    position:absolute;
    top: 15px;
    right: 20px;
    font-size:16px;
}
.left-box-destination, .left-box-style {
    margin-top: 20px;
}
.checkbox-container {
    margin-top:10px;
}
.input-checkbox {
    margin-left: 20px;
    font-size:13px;
    color:var(--text-color);
    font-weight:300;
    margin-bottom:15px;
}
.input-checkbox input {
    margin-right: 10px;
}
.item-tour {
    min-height: 336px;
    width: 100%;
}
.item-tour-heading {
    width: 100%;
    /* position: relative; */
}
.item-tour-img {
    /* position: absolute; */
    width: 100%;
    height:150px;
    position: relative;
    background:radial-gradient(rgb(43, 43, 43) 50%, #000 100%);
    overflow: hidden;
}

.item-tour-img img{
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    transition: all 0.3s ease-out;
    
}
.item-tour-img:hover img {
    transform: scale(1.3) translateY(-10px);
    opacity:0.3;
}
.item-tour-title {
    z-index: 5;
    position: absolute;
    /* display: flex;
    justify-content:center;
    align-items:center; */
    text-align: center;
    top: 40px;
    line-height: 2;
    left: 52px;
}
.item-tour-title h3{
    z-index: 4;
    font-size:18px;
    color:#fff;
    max-width:200px;
}
/* .item-tour-img:hover .item-tour-title h3{
    transform: scale(1.1) translateY(-30px);
    transition: all 0.3s ease-in;
} */
.item-tour-cart {
    position:absolute;
    top: 120px;
    left: 279px;
    width: 30px;
    height: 30px;
    background-color:#9fa29e;
    display: flex;
    justify-content:center;
    align-items:center;
    z-index:20;
    border:none;
    cursor: pointer;
}.item-tour-cart i {
    font-size:15px;
    color:#fff;
}
.item-tour-cart:hover {
    background-color:var(--primary-color);
}
.item-tour-day {
    margin-top: 15px;
    /* position:absolute; */
    border-bottom: 2px solid #ccc;
    padding-bottom:15px;
    width: 100%;
}
.item-tour-day h3{
    font-size:15px;
    font-weight: 400;
    text-transform: uppercase;
}
.list-content-tour-details {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.item-content-tour-details {
    font-size:12px;
}
.grid-view-btn {
    display: flex;
    justify-content:center;
}
.btn-tour {
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    border:none;
    text-transform: uppercase;
    font-weight:600;
    cursor: pointer;
}
.btn-link-detail{
    background-color: var(--violet-color);
    margin-right: 10px;
}
.btn-link-detail:hover {
    opacity:0.7;
}
.btn-link-detail{
    font-size: 13px;
    color: #fff;
    background-color: var(--violet-color);
    font-weight:600;
    border: 1px solid var(--violet-color);
}
.btn-book {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}
.btn-book:hover {
    background-color:var(--primary-color);
    color:#fff;
}