.headerWrapper {
    background-image: url("../../../assets/img/bg-01.jpg");
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    padding-top: 80px;
    .card {
        border-radius: 16px;
    }
    @media only screen and (max-width: 767px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
}

.headerLoginContainer {
   p {
    margin-top: 50px;
    font-size: 24px;
    font-weight:700;
    margin-bottom: 0;
    color: var(--primary-color);
   }
}

.btnLoginContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
    button {
        width: 100%;
        font-size: 16px;
    }
}

.boxError {
  margin-top: 8px;
}
