.root {
    display: block !important;
    padding: 65px 0px 0 0px;
    width: 100%;
    height: 100%;
    [class~=table-responsive] {
        max-height: 650px !important;
        min-height: 400px;
        padding-right: 60px;
        @media only screen and (max-width: 768px) {
            padding-right: 0;
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 48px 24px 24px 32px; 
    }
}

.title {
    h3 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }
    @media only screen and (max-width: 768px) {
        h3 {
            margin-bottom: 8px;
        } 
    }
}
.rowHeaderBox {
    margin: 0;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: inherit !important;
        .boxInputSearch {
            width: 100%;
        }
        button {
            width: 100%;
            margin-bottom: 24px;
        }
    }
} 

.boxControl {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    button {
        margin-left: auto;
        svg {
            margin-right: 8px;
        }
    }
}

.tableCell {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
    text-align: center !important;

}
.tourName {
    color: var(--primary-color) !important;
    text-decoration: unset;
    line-height: 24px !important;
}

.menuItem {
    padding: 8px 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
}

.pagination {
    p {
        font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
        margin: 0;
    }
}