video {
    object-fit: cover;
    width: 100%;    
    height: 100%;
    z-index: -10;
    position: relative;
    margin-bottom: 250px;
    position: absolute;
}
.hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    position: relative;
    
  }
.hero-container::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 615px;
    background-color: var(--violet-color);
    opacity: 0.3;
    z-index: -2;
    top:0px;

}
.hero-container-content {
    margin-bottom:250px;
}
.hero-container h1{
    font-size: 108px;
    font-weight:900;
    max-width:500px;
    color: #fff;
    text-transform: uppercase;
}
.hero-container h2 {
    font-size:90px;
    font-weight:900;
    text-transform:none;
    padding-top:100px;
    margin-left: 100px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}
.section-home-btn {
    margin-top:80px;
    margin-left: 150px;
}
@media (max-width: 63.9375em) {
    .hero-container::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 615px;
        background-color: var(--violet-color);
        opacity: 0.3;
        z-index: -2;
        top:40px;
    
    }

}