.modal{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display:flex;
    align-items: center;
    justify-content: center;
    display:none;
}
.modal.active{
    display:block;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display:flex;
    align-items: center;
    justify-content: center;
}
.modal-container {
    background-color:#fff;
    width: 500px;
    border-radius: 10px; 
    overflow: hidden;
    animation: fadeIn ease-out 0.4s;
}
.modal-close {
    padding: 10px;
    display:flex;
    justify-content: flex-end;
}
.btn-close {
    font-size: 15px;
    cursor: pointer;
    padding:2px;
    background-color:#fff;
    border: none;
}
.btn-close i:hover {
    color:#EE4D2D;
}
.modal-header {
    display: flex;
    margin-bottom: 20px;
}
.modal-primary-header button{
    font-size:18px;
    text-transform: uppercase;
    font-weight:700;
    color:var(--violet-color);
    margin-left: 20px;
    margin-right:300px;
    background-color:transparent;
    border:none;
    cursor: pointer;
}
.modal-sup-header button{
    font-size:15px;
    text-transform: uppercase;
    color:var(--primary-color);
    font-weight:700;
    background-color:transparent;
    border:none;
    cursor: pointer;
}
.modal-body-input {
    margin: 20px;
}
.modal-input {
    padding:10px;
    width:100%;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}
.modal-body-support {
    margin-left: 20px;
    position: relative;
}
.modal-body-support p{
    font-size:13px;
}
.modal-body-support a {
    color:var(--primary-color);
    cursor: pointer;
}
.modal-btn {
    margin-top: 80px;
    margin-bottom: 24px;
    display:flex;
    justify-content:flex-end;
    margin-right: 20px;
}
.modal-btn-auth {
    text-transform: uppercase;
}
.btn-action {
    background-color: var(--violet-color);
    color:#fff;
}
.btn-action:hover {
    opacity: 0.8;
}
.btn-return {
    margin-right:10px;
}
.btn-return:hover{
    background-color:#e5e5e5;
    color: var(--text-color);
}
.modal-footer {
    padding:16px 21px;
    background-color:#f5f5f5;
    
}
.modal-footer-container {
    display:flex;
    justify-content:space-between;
}
.btn-social {
    padding:0 10px;
    color:#fff;
}
.btn-social i{
    font-size:18px;
    margin-right: 28px;
}
.btn-social p{
    padding-right: 28px;
}
.btn-facebook{
    background-color:#3A5A98;
}
.btn-google{
    background-color:#d73d32;
}
.link-support {
    font-size:15px;
}
.link-support:first-child {
    margin-left: 240px;
    margin-right:10px;
    color:var(--text-color);
}
.link-support:nth-child(2){
    color:var(--text-color);
    margin-left: 10px;
}
.modal-body-support span {
    display: inline-block;
    border-left: 1px solid #EAEAEA;
    height: 18px;
    margin:8px 8px 0 8px;
    position:absolute;
    top:-9px;
    right: 105px;

}
.modal-body-input.invalid input{
    border: 1px solid #d73d32;
}
.modal-body-input.invalid .form-message {
    color: #f33a58;
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
