.root {
    display: block !important;
    padding: 65px 0px 0 0px;
    width: 100%;
    height: 100%;
    [class~=table-responsive] {
        max-height: 650px !important;
        min-height: 400px;
        padding-right: 60px;
        @media only screen and (max-width: 768px) {
            padding-right: 0;
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 48px 24px 24px 32px; 
    }
  }
  
  .title {
    h3 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }
    @media only screen and (max-width: 768px) {
        h3 {
            margin-bottom: 8px;
        } 
    }
  }
  .rowHeaderBox {
    margin: 0;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: inherit !important;
        .boxInputSearch {
            width: 100%;
        }
        button {
            width: 100%;
            margin-bottom: 24px;
        }
    }
  }
  
  .titleUpload {
    font-weight: 500;
  }
  .containerUploadImg {
    width: 100%;
    display: flex;
    justify-content: center;
    .boxUpload {
      width: 100%;
      height: 200px;
      border-radius: 12px;
      border: 1px dashed var(--gray-40);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      div {
        display: flex;
        flex-direction: column;
        h4 {
          margin: 0;  
          font-weight: 600;
        }
      }
      svg {
        font-size: 40px;
        color: var(--blue-color);
        
      }
    }
  }
  .imgPreview {
    position: relative;
    .iconDelete {
      width: 20px;
      height: 20px;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #c19995;
      position: absolute;
      top: 8px;
      right: 24px;
      color: var(--danger-color);
      cursor: pointer;
      font-size: 14px;
    }
    .iconDelete:hover {
      background-color: var(--danger-color);
      color: #c19995;
    }
  }
  
  .noImg {
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      font-weight: 600;
      color: var(--gray-40);
      font-style: italic;
    }
  
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 0!important;
    .btnSave {
      padding: 16px 48px !important;
      font-size: 16px;
    }
  }