.root {
    &[class~=modal-dialog] {
        margin: 8.75rem auto;
    }
}
.title {
    h5 {
        font-weight: 600 !important;
    }
    
}
.inputSelect {
    div {
        font-size: 14px;
    }
}
.labelText {
    font-size: 14px;
} 

.starContainer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    @media only screen and (max-width: 500px) {
        margin-right: 32px !important;
     }
    .inputCounter {
        width: 100px;
        margin-right: 16px;
    }
    .starWrapper {
        margin-top: 30px !important;
        svg {
            font-size: 20px;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    .action {
        display: flex;
        justify-content: flex-end;
    }
    p{
        margin-top: 16px;
        font-size: 14px;
    }
}