.label {
  margin-bottom: 0.8rem;
  font-weight: 600;
}
.inputGroup {
  margin-top: 0;
}
.labelRange {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.titlePrice {
  display: flex;
  align-items: center;
  svg {
    margin-right:  8px;
  }
}