.root {
    width: 100%;
    margin: 0;
    padding-top: 62px;
    display: flex;
}


.sideBar {
    z-index: 10;
    background: #ffff;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    @media only screen and (max-width: 768px) {
        position: fixed;
        max-width: 250px;
        left: -250px;
        transition: all 300ms ease-in-out;
        box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
      }
}
.headerSidebar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 14px;
    padding-top: 24px;
    h4 {
        margin: 0;
        margin-left: 12px;
        font-weight: 700;
        color: var(--primary-color);
    }
}

.nav {
    display: flex;
    z-index: 100;
    flex-direction: column;
    span {
        margin-bottom: 8px;
        font-weight: 700;
    }
    [class~="nav-item"] {
        margin-bottom: 8px;
        cursor: pointer;
        &:hover {
            background: rgba(239, 238, 238, 0.8);
            border-radius: 8px;
        }
    }
    @media only screen and (max-width: 768px) {
        text-align: left;
    }
}
.navLink {
    font-weight: 600;
    svg {
        margin-right: 8px;
    }

}
.navItem {
    [class~="nav-link"] {
        font-size: 14px;
        font-weight: 600;
        color: var(--primary-color) !important;
        svg {
            margin-right: 8px;
        }
    }
    [class~="active"] {
        color: var(--white-color) !important;
        background-color: var(--primary-color) !important;
        border-radius: 4px !important;
    }
}
.tabContent {
    width: 100%;
    height: 100%;
    @media only screen and (max-width: 768px) {
        height: 300px;
    }
}
.content {
    padding-left: 30px;
    padding-bottom: 50px;
    max-width: 100%;
    height: 100%;
    @media only screen and (max-width: 768px) {
        padding: 0;
    }
}


.boxTerms {
    padding: 32px;
    text-align: center;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}