:root{
  --primary-color: #fa9e1b;;
  --white-color: #fff;
  --violet-color:#350a4e;
  --text-color: #929191;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.body {
  height: 4000px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding-left:-12px;
  padding-right:-12px;
  padding-bottom: 36px;
}
.grid__colum-2{
  padding-left:12px;
  padding-right:12px;
  width: 16.6667%;

}
.grid__colum-10{ 
  width: 83.3333%;
  /* padding-left:12px; */
}
.grid__colum-8 {
  width:66.6667%;
  padding-left:12px;
  padding-right:12px;
}
.grid__colum-3{
  width: 33.333%;
 padding-left:12px;
  padding-right:12px;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.products {
  /* background-image: url('/src/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/src/images/img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
/* Button style */
.home-btn {
  width: 220px;
  height: 54px;
  margin-left: 150px;
  text-decoration: none;
}
.home-btn p{
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
}
.home-btn p span {
  display: inline-block;
  vertical-align: middle;
  width: 5.75px;
  height: 5.63px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 2px;
}
.home-btn span:first-child {
  margin-left: 10px;
}
.home-btn span:nth-child(2) {
  opacity: 0.6;
}
.home-btn span:nth-child(3) {
  opacity: 0.4;
}
.btn--primary {
  background: linear-gradient(120deg, rgb(250, 158, 27), rgb(141, 79, 255), rgb(250, 158, 27));
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 200%;
  transition: 0.5s;
  box-shadow: 2px 3px 4px rgb(0 0 0 / 70%);
}
.btn--primary:hover {
 background-position: right;
  /* -webkit-font-smoothing: antialiased;
  text-shadow: rgb(0 0 0 / 1%) 0 0 1px; */
}
.btn--auth-form {
    background: var(--violet-color);
}
.btn--auth-form:hover {
    opacity: 0.7;
}
/* Extra btn */
.extra-btn {
    width: 150px;
    height: 54px;
    text-decoration: none;
    border:none;
}
.extra-btn p{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
}
.extra-btn p span {
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 2px;
}
.extra-btn span:first-child {
    margin-left: 10px;
}
.extra-btn span:nth-child(2) {
    opacity: 0.6;
}
.extra-btn span:nth-child(3) {
    opacity: 0.4;
}
.btn--extra {
    background: var(--violet-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    font-size: 1.4rem;
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--violet-color);  
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color:#c3c3c3;
}
/* Pagination */
.pagination-container {
margin-left: 250px;
}
.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
  text-align: center;
}
.pagination li a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height:45px;
}
.previous-page a i {
  margin-right:5px;
}
.next-page a i {
  margin-left:5px;
}
.previous-page, .next-page {
  background-color: var(--violet-color);
  width:80px;
  border-radius:45px;
  cursor: pointer;
  transition: 0.3s ease;
}
.previous-page:hover{
  transform: translateX(-5px);
}
.next-page:hover{
  transform: translateX(-5px);
}
.current-page, .dots{
  width:45px;
  background-color:#ccc;
  border-radius:50%;
  cursor: pointer;
}
.active-page {
  background-color:var(--violet-color);
}
.disable {
  background-color:#ccc;
}