.modal {
  [class~="modal-content"]{
    width: unset;
  }
}

.pdfWrapper {
  width: 841px;
  padding: 20px;
}

.table {
  tr {
    height: 34px;
  }
  th {
    padding: 0 !important;
    min-width: 55px;
    min-height: 40px;
  }
  thead {
    background-color: var(--primary-color);
    height: 40px;
    color: #ffff;
  }
}

.index {
  min-width: 20px !important;
}

.title {
  font-weight: 600 !important;
  font-size: 1.3em !important;
  margin-bottom: 8px !important;
}

.subTitle {
  font-weight: 500 !important;
  font-size: 1em !important;
}

.tourTitle {
  padding: 0 !important;
}

.paragraphFontSize {
  font-size: 0.7em !important;
}

.downloadBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}